{
  "data-directory": "DIRECTORY",
  "seedlist": {
    "authority": "AUTHORITY",
    "password": "PASSWORD",
    "scheme": "SCHEME",
    "user": "USER"
  },
  "tapir": {
    "sites": {
      "ll": {
        "host": "HOST",
        "token": "TOKEN",
        "user": "USER"
      }
    }
  }
}
